.app {
  height: 100vh;
  display: flex;
  margin: auto;
}
.app__container {
  width: 1266px;
  height: 729px;
  box-sizing: border-box;
  margin: auto;
  background-color: rgba(217, 217, 217, 1);
  text-align: center;
  padding: 51px 63px;
  display: grid;
  grid-template-columns: 672px 390px;
  grid-template-rows: 30px 534px;
  column-gap: 84px;
  row-gap: 51px;
  grid-template-areas: 
    "input  users"
    "items  users";
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
